# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/.generated/
android/app/src/main/res/drawable-*/
android/app/src/main/res/mipmap-*/
web/canvaskit/

# Firebase
.firebase/
firebase-debug.log
firestore.debug.log
ui-debug.log

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/

# IDEs
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db